* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: arial;
}

.tab {
  height: 250px;
  float: left;
  width: 50%;
  position: relative;
}

.inner {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.shape_1 {
  background-color: #202020;
}

.shape_2 {
  background-color: #4B346F;
}

.shape_1 .inner {
  color: #f00;
  -webkit-animation: color-bubble 2s linear 0s infinite;
  animation: color-bubble 2s linear 0s infinite;
}

.shape_1 .inner:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  box-shadow: 0 0 0 3px;
  -webkit-animation: inner-bubble 1.3s linear 0s infinite;
  animation: inner-bubble 1.3s linear 0s infinite;
  margin: auto;
  width: 10px;
  height: 10px;
  opacity: 0;
}

.shape_2 .inner {
  border: 1px solid;
  -webkit-animation: rotate 1.3s linear 0s infinite, color-bubble 3s linear 0s infinite;
  animation: rotate 1.3s linear 0s infinite, color-bubble 3s linear 0s infinite;
}

.shape_2 .inner:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 100%;
  -webkit-animation: color-change 3s linear 0s infinite;
  animation: color-change 3s linear 0s infinite;
  left: -5px;
  top: 18px;
}

@-webkit-keyframes inner-bubble {
  from {
    width: 10px;
    height: 10px;
    opacity: .8;
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

@keyframes inner-bubble {
  from {
    width: 10px;
    height: 10px;
    opacity: .8;
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

@-webkit-keyframes color-bubble {
  0% {
    color: #009DDC;
  }
  33% {
    color: #50B949;
  }
  66% {
    color: #EE2D24;
  }
  100% {
    color: #FEB825;
  }
}

@keyframes color-bubble {
  0% {
    color: #009DDC;
  }
  33% {
    color: #50B949;
  }
  66% {
    color: #EE2D24;
  }
  100% {
    color: #FEB825;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes color-change {
  0% {
    background: #009DDC;
  }
  33% {
    background: #50B949;
  }
  66% {
    background: #EE2D24;
  }
  100% {
    background: #FEB825;
  }
}

@keyframes color-change {
  0% {
    background: #009DDC;
  }
  33% {
    background: #50B949;
  }
  66% {
    background: #EE2D24;
  }
  100% {
    background: #FEB825;
  }
}

